fastapi
uvicorn
langchain
langchain_groq
langgraph
langsmith
sqlalchemy
alembic
pymysql
psycopg2-binary
aiomysql
asyncpg
pymongo
python-dotenv
pydantic
pydantic-settings
python-multipart
PyJWT
python-jose
bcrypt
passlib
httpx
requests
redis
aiosmtplib
pyotp
qrcode
